/* CSS declarations go here */
body {
/*        background-image: url("background.jpg"); */
    font-family: 'Handlee', cursive;
}
.table tbody>tr>td{
    vertical-align: middle;
}

.label-as-badge {
    border-radius: 1em;
}

.compact {
    padding: 1px;
}
