<template name="details_weapon">
<div class="row">
<div class="col-md-4">
    <div class="form-group">
    <label>Damage (medium)</label>
    <input type="text" class="item_property form-control" data-property="damage_m" value={{damage_m}}>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Damage (small)</label>
    <input type="text" class="item_property form-control" data-property="damage_m" value={{damage_s}}>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Enchantment</label>
    <input type="text" class="item_property form-control" data-property="enchantment" value={{enchantment}}>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-4">
    <div class="form-group">
    <label>Proficiency</label>
    <input type="text" class="item_property form-control" data-property="enchantment" value={{proficiency}}>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Class</label>
    <input type="text" class="item_property form-control" data-property="enchantment" value={{class}}>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Type</label>
    <input type="text" class="item_property form-control" data-property="enchantment" value={{weapon_type}}>
    </div>
</div>
</div>
</template>

