<template name="details_item">
<div class="row">
<div class="col-md-4">
    <div class="form-group">
    <label>Name</label>
    <input type="text" class="item_property form-control" data-property="name" value={{name}}>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Value</label>
    <input type="text" class="item_property form-control" data-property="value" value={{value}}>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Weight</label>
    <input type="text" class="item_property form-control" data-property="value" value={{weight}}>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="form-group">
    <label>Item Type (magic, armor, weapon, equipment)</label>
    <input type="text" class="item_property form-control" data-property="type" value={{type}}>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="form-group">
    <label>Link</label>
    <input type="text" class="item_property form-control" data-property="link" value={{link}}>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="form-group">
    <label>Owner</label>
    <input type="text" class="item_property form-control" data-property="owner" value={{owner}}>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="form-group">
    <label>Notes</label>
    <input type="textarea" class="item_property form-control" data-property="notes" value={{notes}}>
    </div>
</div>
</div>
</template>

