<template name="field">
<tr><td>{{label}}</td><td><input type="text" class="item_property form-control input-sm" data-property="{{name}}" value="{{value}}"></td></tr>
</template>

<template name="edit_item">
<div class="modal fade">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
<h4 class="modal-title">Edit Item</h4>
</div>
<div class="modal-body">
<div class="container-fluid">

<div class="row">
<div class="alert alert-info" role="alert">
<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
Note: changes take effect immediately.
</div>
</div>

<div class="row">
<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{section}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#" class="section">General</a></li>
    <li><a href="#" class="section">Magic</a></li>
    <li><a href="#" class="section">Armor</a></li>
    <li><a href="#" class="section">Weapon</a></li>
    <li><a href="#" class="section">Equipment</a></li>
    <li><a href="#" class="section">Other</a></li>
  </ul>
</div>
</div>

<div class="row">
<table class="table">
<thead><tr><th>Key</th><th>Value</th></tr></thead>
<tbody>
{{#each fields}}
{{> field name=name label=label data=../item}}
{{/each}}
</tbody>
</table>
</div>

</div>
</div>
</div>
</div>
</div>
</template>

