<template name="field">
	<tr>
	<td>
	{{label}}
	{{#if custom}}
	<a data-property="{{label}}" class="pull-right button_remove_field"><i data-property="{{label}}" class="fa fa-times"></i></a>
	{{/if}}
	</td>
	<td>
	{{#if area}}
	<textarea class="item_property form-control input-sm" data-property="{{name}}" value="{{value}}"></textarea>
	{{else}}
	<input type="text" class="item_property form-control input-sm" data-property="{{name}}" value="{{value}}">
	{{/if}}
	</td></tr>
</template>

<template name="edit_item">
<div class="modal fade">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
<h4 class="modal-title">Edit Item</h4>
</div>
<div class="modal-body">
<div class="container-fluid">

<div class="row">
<div class="alert alert-info" role="alert">
<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
Note: changes take effect immediately.
</div>
</div>

<div class="row">
<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{section}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {{#each sections}}
    <li><a href="#" class="section">{{this}}</a></li>
    {{/each}}
    <li><a href="#" class="section">Custom</a></li>
  </ul>
</div>
</div>

<div class="row">
<table class="table">
<thead><tr><th>Key</th><th>Value</th></tr></thead>
<tbody>
{{#each fields}}
{{> field name=name label=label data=../item area=area custom=custom}}
{{/each}}
</tbody>
</table>
</div>
{{#if custom}}
<div class="row">
<div class="col-md-4">
<input type="text" id="new_field" class="form-control input-sm">
</div>
<div class="col-md-2">
<button class="btn btn-default" type="button" id="button_add_field"><i class="fa fa-plus"></i> Add</button>
</div>
</div>
{{/if}}

</div>
</div>
</div>
</div>
</div>
</template>

