<template name="item">
<div class="row">
<div class="col-md-8 col-sm-6 col-xs-12">
({{order}}) {{enchantment}}
{{#if link}}
<a href="{{link}}">
{{name}}
</a>
{{else}}
{{name}}
{{/if}}
</div>
<div class="col-md-2 col-sm-3 col-xs-6 text-right">
<input type="text" class="item_property form-control input-sm text-right" data-property="quantity" value="{{quantity}}">
</div>
<div class="col-md-2 col-sm-3 col-xs-6 text-right">
<button type="button" class="btn btn-link button_edit compact" data-toggle="collapse" data-target="#edit_{{this._id.toHexString}}"><span class="glyphicon glyphicon-edit"></span></button>
<button type="button" class="btn btn-link button_delete compact"><span class="glyphicon glyphicon-trash"></span></button>
<button type="button" class="btn btn-link button_move handle compact"><span class="glyphicon glyphicon-move"></span></button>
</div>
</div>
<div class="row collapse accordian-body" id="edit_{{this._id.toHexString}}">
<div class="col-md-8 col-xs-12">
<br>
<div class="panel panel-default">
<div class="panel-body">
{{> details_item}}
{{#if is_magic}}
{{> details_magic}}
{{/if}}
{{#if is_weapon}}
{{> details_weapon}}
{{/if}}
{{#if is_armor}}
{{> details_armor}}
{{/if}}
{{#if is_equipment}}
{{> details_equipment}}
{{/if}}
{{#if is_treasure}}
{{> details_treasure}}
{{/if}}
</div>
</div>
</div>
</div>
<br>
</template>

<template name="item_short">
{{name}}
{{#if is_magic}}
<span class="label label-primary label-as-badge pull-right">magic</span>
{{/if}}
{{#if is_armor}}
<span class="label label-success label-as-badge pull-right">armor</span>
{{/if}}
{{#if is_weapon}}
<span class="label label-danger label-as-badge pull-right">weapon</span>
{{/if}}
{{#if is_equipment}}
<span class="label label-info label-as-badge pull-right">equipment</span>
{{/if}}
{{#if is_treasure}}
<span class="label label-warning label-as-badge pull-right">treasure</span>
{{/if}}
</template>

