<template name="loading">
<div class="container-fluid">
<br>
<h4>Hold on. I'm fetching your stuff...</h4>
</div>
</template>

<template name="list">
<div class="container-fluid">
  <br>
  <header><h1>Bag of Holding</h1></header>
  <p>This is bag <a href="{{bag}}">{{bag}}</a>. Please save the link for future access.</p>
  <br>
  <div class="row">
  <div class="col-md-6 col-sm-8 col-xs-8">
  {{> inputAutocomplete settings=autocomplete_settings id="ac_name" class="input-large form-control" autocomplete="off" placeholder="Add Item"}}
  </div>
  <div class="col-md-2 col-sm-2 col-xs-1">
  <button type="button" class="btn btn-primary" id="button_add_item"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
  </div>
  <br>
  <div class="row">
  <div class="col-md-8 col-sm-12, col-xs-12">
  {{#sortable items=inventory options=sortable_settings}}
  <div class="item">
  {{> item}}
  </div>
  {{/sortable}}
  </div>
  </div>
  <br>
  <p>You can also <a href="#" id="transfer">transfer</a> the contents to another bag.</p>
</div>
</template>

